venv
env

__pycache__
*__pycache__*
/venv
/__pycache__
.secrets
/.secrets

.env.local
/.env.local

.idea/
.idea/

.idea
.idea/
.idea/*


/logs
logs
*logs*

/__data__
*__data__*

.vscode 
.deployment

