<div class="w-full">
  <div class="w-full mx-auto overflow-x-hidden">
    <!-- EXCHANGERATES.ORG.UK LIVE CURRENCY RATES TICKER START -->
    <iframe
      src="//www.exchangerates.org.uk/widget/ER-LRTICKER.php?w=1024&s=1&mc=USD&mbg=F0F0F0&bs=yes&bc=000044&f=verdana&fs=10px&fc=000044&lc=000044&lhc=FE9A00&vc=FE9A00&vcu=008000&vcd=FF0000&"
      height="30"
      frameborder="0"
      width="100%"
      scrolling="no"
      class="w-full"
    ></iframe>
    <!-- EXCHANGERATES.ORG.UK LIVE CURRENCY RATES TICKER END -->
  </div>
  <p class="font-bold text-2xl text-black px-6 py-2">
    <i class="bi bi-speedometer2"></i>
    Dashboard
  </p>

  <p class="text-xl text-black/80 px-6 py-2">Welcome back {{user.firstname}}</p>
  <hr class="w-16 border-2 border-sky-500 mx-6" />

  <div
    class="w-full flex flex-col lg:flex-row justfy-center lg:justify-start items-start space-y-6 lg:space-y-0 lg:space-x-8 p-4"
  >
    <!-- Rectangle card featuring account number  -->

    <div class="rounded-lg p-4 shadow-lg w-full border">
      <div class="flex flex-col items-start">
        <p class="text-gray-700 py-1 font-bold text-2xl">
          $
          <span x-text="new Intl.NumberFormat().format({{user.balance}})"
            >{{user.balance}}</span
          >
        </p>
        <h1 class="text-gray-600 font-bold text-sm">Total Balance</h1>
      </div>
    </div>

    <div class="rounded-lg p-4 shadow-lg w-full border">
      <div class="flex flex-col items-start">
        <p class="text-gray-700 py-1 font-bold text-2xl">
          $
          <span x-text="new Intl.NumberFormat().format({{user.credit_limit}})">
            {{user.credit_limit}}
          </span>
        </p>
        <h1 class="text-gray-600 font-bold text-sm">Credit Limit</h1>
      </div>
    </div>
  </div>

  <!-- Flex Box of dashbaord info starts  -->
  {% include "partials/__transactions__.html" %}
</div>
