<script
  defer
  src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
></script>
<script src="https://cdn.tailwindcss.com"></script>

<script>
  document.addEventListener("alpine:init", () => {
    Alpine.store("darkMode", {
      on: false,

      toggle() {
        this.on = !this.on;
      },
    });
  });
</script>

<!-- Bootstrap icons  -->

<meta name="theme" content="black" />
<link rel="icon" href="/static/logo.jpg" />
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;700&family=Roboto:wght@400;700&display=swap"
  rel="stylesheet"
/>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css"
/>

{% if settings.debug and False %}

<meta http-equiv="refresh" content="20" />
{% endif %}

<style>
  * {
    font-family: "Mulish";
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>
