<div
  class="border-l-2 z-20 hidden lg:block xl:w-[20%] bg-white self-stretch min-h-screen w-[30%]"
>
  {% if tab == "account" %} {% include "partials/__userinfo__.html" %} {% else
  %}

  <div class="bg-white z-[0] py-6">
    <p class="text-lg text-black/80 px-6 py-2">Account Summary</p>
    <hr class="w-16 border-2 border-sky-500 mx-6" />

    <div class="w-[90%] mx-auto border border-sky-500 rounded-xl p-2 mt-6">
      <p class="text-black/50 text=sm">
        <i class="bi-graph-up-arrow text-green-500"> </i>
        <span class="inline-flex px-1"> Income</span>
      </p>

      <span class="font-bold text-black/70 text-xl">
        +
        <span x-text="new Intl.NumberFormat().format({{user.total_income}})">
          ${{user.total_income}}
        </span>
      </span>
    </div>

    <div class="w-[90%] mx-auto border border-sky-500 rounded-xl p-2 mt-6">
      <p class="text-black/50 text=sm">
        <i class="bi-graph-down-arrow text-red-500"> </i>
        <span class="inline-flex px-1"> Expenses</span>
      </p>

      <span class="font-bold text-black/70 text-xl">
        -
        <span x-text="new Intl.NumberFormat().format({{user.total_expense}})">
          ${{user.total_expense}}
        </span>
      </span>
    </div>

    <div class="w-[90%] mx-auto border border-sky-500 rounded-xl p-2 mt-6">
      <p class="text-black/50">Quick Actions</p>

      <div
        x-data
        @click="window.location.href = '/apps/dashboard?tab=transfers'"
        class="bg-sky-100 cursor-pointer hover:bg-sky-200 flex flex-row rounded-lg p-2 my-4"
      >
        <i class="bi-send text-base text-sky-500"></i>
        <span class="inline-flex px-1 text-black/60"> Send Money</span>
      </div>

      <div
        x-data
        @click="window.location.href = '/apps/dashboard?tab=settings'"
        class="bg-sky-100 cursor-pointer hover:bg-sky-200 flex flex-row rounded-lg p-2 my-4"
      >
        <i class="bi-pencil-square text-base text-sky-500"></i>
        <span class="inline-flex px-1 text-black/60"> Update my data</span>
      </div>

      <div
        x-data
        @click="window.location.href = '/apps/dashboard?tab=settings'"
        class="bg-sky-100 cursor-pointer hover:bg-sky-200 flex flex-row rounded-lg p-2 my-4"
      >
        <i class="bi-shield-check text-base text-sky-500"></i>
        <span class="inline-flex px-1 text-black/60 inline-flex">
          Change password</span
        >
      </div>
    </div>

    <div class="px-4 mt-8">
      <!-- EXCHANGERATES.ORG.UK British Pound EXCHANGE RATE TABLE START -->
      <div
        style="
          width: 178px;
          margin: 0;
          padding: 0;
          border: 1px solid #2d6ab4;
          background: #f0f0f0;
        "
      >
        <div
          style="
            width: 178px;
            text-align: center;
            padding: 2px 0px;
            background: #2d6ab4;
            font-family: arial;
            font-size: 11px;
            color: #ffffff;
            font-weight: bold;
            vertical-align: middle;
          "
        >
          <img
            src="//www.exchangerates.org.uk/images/flags/gb.gif"
            style="padding-right: 5px"
          />
          <a
            rel="nofollow"
            style="
              color: #ffffff;
              text-decoration: none;
              text-transform: uppercase;
            "
            href="//www.exchangerates.org.uk/British-Pound-GBP-currency-table.html"
            target="_new"
            title="British Pound Exchange Rate"
            >British Pound Exchange Rate</a
          >
        </div>
        <div style="padding: 10px">
          <script type="text/javascript">
            var dcf = "GBP";
            var mc = "2D6AB4";
            var mbg = "f0f0f0";
            var tc = "ffffff";
            var f = "arial";
            var fc = "000000";
            var tz = "userset";
          </script>
          <script
            type="text/javascript"
            src="https://www.currency.me.uk/remote/ER-TCS-1.php"
          ></script>
        </div>
      </div>
      <!-- EXCHANGERATES.ORG.UK British Pound EXCHANGE RATE TABLE END -->
    </div>
  </div>

  {% endif %}
</div>
