<div
  class="border-l-2 z-20 hidden lg:block xl:w-[20%] bg-white self-stretch min-h-screen w-[30%]"
>
  {% if tab == "account" %} {% include "partials/__userinfo__.html" %} {% else
  %}

  <div class="bg-white z-[0] py-6">
    <p class="text-lg text-black/80 px-6 py-2">Account Summary</p>
    <hr class="w-16 border-2 border-sky-500 mx-6" />

    <div class="w-[90%] mx-auto border border-sky-500 rounded-xl p-2 mt-6">
      <p class="text-black/50 text=sm">
        <i class="bi-graph-up-arrow text-green-500"> </i>
        <span class="inline-flex px-1"> Income</span>
      </p>

      <span class="font-bold text-black/70 text-xl">
        + ${{user.total_income}}
      </span>
    </div>

    <div class="w-[90%] mx-auto border border-sky-500 rounded-xl p-2 mt-6">
      <p class="text-black/50 text=sm">
        <i class="bi-graph-down-arrow text-red-500"> </i>
        <span class="inline-flex px-1"> Expenses</span>
      </p>

      <span class="font-bold text-black/70 text-xl">
        - ${{user.total_expense}}
      </span>
    </div>

    <div class="w-[90%] mx-auto border border-sky-500 rounded-xl p-2 mt-6">
      <p class="text-black/50">Quick Actions</p>

      <div
        class="bg-sky-100 cursor-pointer hover:bg-sky-200 flex flex-row rounded-lg p-2 my-4"
      >
        <i class="bi-send text-base text-sky-500"></i>
        <span class="inline-flex px-1 text-black/60"> Send Money</span>
      </div>

      <div
        class="bg-sky-100 cursor-pointer hover:bg-sky-200 flex flex-row rounded-lg p-2 my-4"
      >
        <i class="bi-pencil-square text-base text-sky-500"></i>
        <span class="inline-flex px-1 text-black/60"> Update my data</span>
      </div>

      <div
        class="bg-sky-100 cursor-pointer hover:bg-sky-200 flex flex-row rounded-lg p-2 my-4"
      >
        <i class="bi-shield-check text-base text-sky-500"></i>
        <span class="inline-flex px-1 text-black/60 inline-flex">
          Change password</span
        >
      </div>
    </div>
  </div>

  {% endif %}
</div>
