<div class="w-full xl:w-[80%] lg:w-[70%]">
  <!-- Edit Profile Form  -->

  <div
    class="flex flex-col xl:flex-row justify-center items-start xl:justify-around space-y-6 xl:pt-6 xl:space-y-0"
    x-data="{
            otp : '',
            showOTP : false,
            reqError : false,
            reqErrorMsg : 'Error',
            reqSuccess : false,
            reqSuccessMsg : 'Success',                  
            reqLoading : false,
            reqLoadingText : 'Loading',
            actionText : 'Loading',

            submitting : false,
            showOverlay :  false,
            actionText : 'Updating data...',
            success :  false,
            passwordsMatch :  true,

              eTx :  false,

      toggleETx : function () {
        this.eTx = !this.eTx;
      },

      submitPasswordForm  : async (e)=>{

        if(this.submitting){
          return;
        }

        if (!(this.otp && this.otp.length >= 4)){
        alert('Please enter a valid OTP: ' + otp);
        return;
      }

      }

            
        }"
  >
    {% include "partials/__widgets__.html" %}





    



    <div
    x-show = "eTx"
      class="w-full flex flex-col justify-center items-center"
      x-data="{



        submitForm1 : async (e)=>{


            let formData = new FormData(e.target);
                        
                        let object = {};
                        
                        for (let [key, value] of formData.entries()) {
                        if (!object.hasOwnProperty(key)) {
                        object[key] = value;
                        } else if (Array.isArray(object[key])) {
                        object[key].push(value);
                        } else {
                        object[key] = [object[key], value];
                        }
                        }


                        submitting = true;


                        actionText = 'Updating data...';
                        reqLoading = true;
                        showOverlay = true;

                        try{
                        
                        
                        const res = await fetch('/update-data', {
                        method: 'POST',
                        headers: {
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(object)
                        });
                        
                        if(!res.ok){
                        
                        if(res.status == 422){
                        console.log('Form errors found');
                        
                        const errors = await res.json();
                        console.log(errors);
                        
                        
                        reqError = true;
                        reqErrorMsg = JSON.stringify(errors);
                        
                        
                        }
                        else{
                        
                        const errorMsg = (await res.json()).detail;
                            console.log(errorMsg);
                                    
                                    reqError = true;
                                    reqErrorMsg  = errorMsg;
                        }
                        
                        
                        } else{
                        
                        
                        
                        console.log('Form submitted successfully');
                        reqError = true;
                        reqErrorMsg = 'Update successful.';
                        success = true;

                         setTimeout(()=>{
                            window.location.href = '/apps/dashboard?tab=dash'

                        }, 1000);


                        

                      
                        
                        }
                        
                        
                        }
                        
                        catch(err){
                        
                        console.log(err.message);
                        reqError = true;
                        reqErrorMsg = 'Unable to complete request [' + err.message + ']';
                        
                        }

                        submitting = false;

                        reqLoading = false;
                        showOverlay = false;




        },



      

    }"
    >
      <h1 class="text-3xl font-bold text-sky-500">Update your data</h1>

      <p @click="toggleETx" class="py-2 px-4 mb-6">
        <span
          class="px-2 select-none cursor-pointer inline-flex text-xs leading-5 font-semibold rounded-full bg-sky-200 text-sky-800"
        >
        <i class="bi-shield-check"></i>
          <span  class="inline-flex px-2"
            > Click to change your password </span>

         
      </p>
      <form
        x-on:submit.prevent="submitForm1($event)"
        class="flex flex-col justify-center items-center space-y-6 mt-8 max-w-md w-[90%] mx-auto"
        action=""
        method="POST"
      >
        <div class="flex flex-col w-full space-y-2">
          <label
            class="block text-sm text-gray-600 dark:text-gray-400"
            for="firstname"
            >First Name</label
          >
          <input
            type="text"
            id="firstname"
            required
            name="firstname"
            class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
            value="{{user.firstname}}"
          />
        </div>

        <div class="flex flex-col w-full space-y-2">
          <label
            class="block text-sm text-gray-600 dark:text-gray-400"
            for="lastname"
            >Last Name</label
          >
          <input
            type="text"
            id="lastname"
            name="lastname"
            required
            class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
            value="{{user.lastname}}"
          />
        </div>

        <div class="flex flex-col w-full space-y-2">
          <label
            class="block text-sm text-gray-600 dark:text-gray-400"
            for="email"
            >Email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            required
            class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
            value="{{user.email}}"
          />
        </div>

        <div class="flex flex-col w-full space-y-2">
          <label
            class="block text-sm text-gray-600 dark:text-gray-400"
            for="phone"
            >Phone Number</label
          >
          <input
            type="text"
            id="phone"
            name="phone"
            required
            class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
            value="{{user.phone}}"
          />
        </div>

        <div class="flex flex-col w-full space-y-2">
          <label
            class="block text-sm text-gray-600 dark:text-gray-400"
            for="dob"
            >Date of Birth
          </label>
          <input
            required
            type="date"
            id="dob"
            name="dateOfBirth"
            class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
            value="{{user.date_of_birth}}"
          />
        </div>

        <!-- Submit button  -->
        <div class="flex justify-center items-center mt-8">
          <button
            type="submit"
            class="bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded-lg"
          >
            Update Profile
          </button>
        </div>
      </form>
    </div>




    <!-- otp popup  -->
    <div
      x-show="showOTP"
      class="fixed top-0 left-0 right-0 bottom-0 bg-black bg-opacity-50 flex flex-col justify-center items-center"
    >
      <div
        class="w-[95%] mx-auto max-w-md md:w-[80%] lg:w-[70%] xl:w-[60%] bg-white rounded-lg shadow-lg p-8"
      >
          <!-- close button  -->
          <div class="flex justify-end">
            <button
              @click="showOTP = false"
              class="text-gray-500 hover:text-gray-700"
            >
              <svg
                class="h-6 w-6 fill-current"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
              >
                <path
                  d="M18.3 5.71a1 1 0 0 0-1.42 0L12 10.59 7.12 5.7a1 1 0 0 0-1.42 1.42l4.89 4.89-4.9 4.9a1 1 0 0 0 1.42 1.42l4.88-4.89 4.89 4.89a1 1 0 0 0 1.42-1.42l-4.9-4.9 4.89-4.89a1 1 0 0 0 0-1.42z"
                />
              </svg>
            </button>
          </div>


        <div class="flex flex-col justify-center items-center">
          <p class="text-2xl font-bold text-gray-800">Enter OTP</p>
          <p class="text-sm text-gray-500">
            Type in the OTP sent to your email address
          </p>
        </div>

        <div class="flex flex-col justify-center items-center mt-8">
          <div class="w-full">
            <label for="otp" class="text-sm text-gray-500">OTP</label>
            <input
            x-model = "otp"
            style="font-family: Orbitron"
              type="text"
              inputmode="numeric"
              required
              pattern="[0-9]*"
              minlength="4"
              maxlength="12"
              name="otp"
              id="otp"
              class="w-full tracking-widest text-center border border-gray-300 rounded-lg px-4 py-2 mt-2 focus:outline-none focus:border-blue-500"
            />
            
          </div>
        </div>

        <div class="flex flex-col justify-center items-center mt-8">
          <button
          @click = "submitPasswordForm"
            class="bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded-lg"
          >
            Submit
          </button>
        </div>
      </div>
    </div>


    <!-- Change Password Form  -->
    <div
    x-show = "!eTx"

      class="w-full flex flex-col justify-center items-center pt-12 xl:pt-0"
      x-data="{

    submitForm2 : async (e)=>{

      if(!showOTP){
        showOTP = true;
        return;
      }


      





            let formData = new FormData(e.target);
                        
                        let object = {};
                        
                        for (let [key, value] of formData.entries()) {
                        if (!object.hasOwnProperty(key)) {
                        object[key] = value;
                        } else if (Array.isArray(object[key])) {
                        object[key].push(value);
                        } else {
                        object[key] = [object[key], value];
                        }
                        }


                        if(object.newpassword !== object.confirmpassword){

                            passwordsMatch = false;
                            return;
                        }

                        passwordsMatch = true;


                        submitting = true;


                        actionText = 'Changing password...';
                        reqLoading = true;
                        showOverlay = true;

                        try{
                        
                        
                        const res = await fetch('/change-password', {
                        method: 'POST',
                        headers: {
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(object)
                        });
                        
                        if(!res.ok){
                        
                        if(res.status == 422){
                        console.log('Form errors found');
                        
                        const errors = await res.json();
                        console.log(errors);
                        
                        
                        reqError = true;
                        reqErrorMsg = JSON.stringify(errors);
                        
                        
                        }
                        else{
                        
                        const errorMsg = (await res.json()).detail;
                            console.log(errorMsg);
                                    
                                    reqError = true;
                                    reqErrorMsg  = errorMsg;
                        }
                        
                        
                        } else{
                        
                        
                        
                        console.log('Form submitted successfully');
                        reqError = true;
                        reqErrorMsg = 'Password change successful. Proceeding to login page...';
                        success = true;

                         setTimeout(()=>{
                            window.location.href = '/apps/dashboard?tab=dash'

                        }, 1000);


                        

                      
                        
                        }
                        
                        
                        }
                        
                        catch(err){
                        
                        console.log(err.message);
                        reqError = true;
                        reqErrorMsg = 'Unable to complete request [' + err.message + ']';
                        
                        }

                        submitting = false;

                        reqLoading = false;
                        showOverlay = false;

        }
    }"
    >
      <h1 class="text-3xl font-bold text-sky-500">Change Password</h1>

       <p @click="toggleETx" class="py-2 px-4 mb-6">
        <span
          class="px-2 select-none cursor-pointer inline-flex text-xs leading-5 font-semibold rounded-full bg-sky-200 text-sky-800"
        >
        <i class="bi-pencil-square"></i>
          <span  class="inline-flex px-2"
            > Click to update your data  </span>

         
      </p>
      <form
        x-on:submit.prevent="submitForm2($event)"
        class="flex flex-col justify-center items-center space-y-6 mt-8 max-w-md w-[90%] mx-auto"
      >
        <div class="flex flex-col w-full space-y-2">
          <label
            class="block text-sm text-gray-600 dark:text-gray-400"
            for="oldpassword"
            >Old Password</label
          >
          <input
            type="password"
            id="oldpassword"
            name="oldpassword"
            minlength="8"
            required
            class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
          />
        </div>

        <div class="flex flex-col w-full space-y-2">
          <label
            class="block text-sm text-gray-600 dark:text-gray-400"
            for="newpassword"
            >New Password</label
          >
          <input
            minlength="8"
            type="password"
            id="newpassword"
            name="newpassword"
            required
            class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
          />
        </div>

        <div class="flex flex-col w-full space-y-2">
          <label
            class="block text-sm text-gray-600 dark:text-gray-400"
            for="confirmpassword"
            >Confirm Password</label
          >
          <input
            type="password"
            id="confirmpassword"
            minlength="8"
            required
            name="confirmpassword"
            class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
          />

          <p
            x-show.important="!passwordsMatch"
            class="text-sm py-2 text-red-500"
          >
            Passwords do not match.
          </p>
        </div>

        <!-- Submit button  -->
        <div class="flex justify-center items-center mt-8">
          <button
            type="submit"
            class="bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded-lg"
          >
            Change Password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
