<nav
  x-show="showSidebar"
  x-transition
  class="min-h-screen md:block z-20 lg:w-[15%] md:w-[25%] bg-white md:bg-sky-50/60 pt-32 md:pt-6 px-6 pb-6 border-r-2 border-sky-200 fixed top-0 left-0 bottom-0"
>
  <div
    class="space-y-3 absolute bottom-10 left-0 right-0 text-sm text-center text-gray-700"
  >
    <!-- <a href="" class="block hover:bg-gray-200 cursor-pointer py-1">
      <li class="space-x-2 block">
        <i class="bi-exclamation-circle text-xl"></i>
        <span> Get Help </span>
      </li>
    </a> -->

    <!-- <li
      x-data
      @click="$store.darkMode.toggle()"
      class="space-x-2 block hover:bg-gray-200 cursor-pointer py-1"
      x-transition
    >
      <i x-show="!$store.darkMode.on" class="bi-toggle-off text-xl"></i>
      <i x-show="$store.darkMode.on" class="bi-toggle-on text-xl"></i>

      <span> Dark mode </span>
    </li> -->
    <a
      href="/sign-out"
      class="block text-red-400 hover:bg-gray-200 cursor-pointer py-1"
    >
      <li class="space-x-2 block">
        <i class="bi-box-arrow-left text-xl"></i>
        <span> Sign out </span>
      </li>
    </a>
  </div>

  <div
    class="w-full hidden md:block flex flex-col items-center justify-center mt-4 mb-16"
  >
    <img
      alt="logo"
      src="/static/logo.png"
      class="w-16 md:w-32 h-auto shadow mx-auto"
    />
  </div>

  <ul
    class="space-y-6 flex flex-col items-start lg:pl-4 justify-center text-black/70 text-sm font-bold"
  >
    <a
      href="/apps/dashboard?tab=dash"
      class="hover:bg-gray-200 block rounded-lg py-1 px-2"
    >
      <li
        class="space-x-2 block {% if tab == 'dash' %} text-sky-500 {% else %} {% endif %}"
      >
        <i class="text-lg bi-house"></i>
        <span class="md:inline-block"> Home </span>
      </li>
    </a>

    <a
      href="/apps/dashboard?tab=account"
      class="hover:bg-gray-200 block rounded-lg py-1 px-2"
    >
      <li
        class="space-x-2 block {% if tab == 'account' %} text-sky-500 {% else %} {% endif %}"
      >
        <i class="text-lg bi-person-gear"></i>
        <span class="md:inline-block"> Account </span>
      </li>
    </a>

    <a
      href="/apps/dashboard?tab=transfers"
      class="hover:bg-gray-200 block rounded-lg py-1 px-2"
    >
      <li
        class="space-x-2 block {% if tab == 'transfers' %} text-sky-500 {% else %} {% endif %}"
      >
        <i class="text-lg bi-arrow-left-right"></i>
        <span class="md:inline-block"> Transfer </span>
      </li>
    </a>

    <a
      href="/apps/dashboard?tab=transactions"
      class="hover:bg-gray-200 block rounded-lg py-1 px-2"
    >
      <li
        class="space-x-2 block {% if tab == 'transactions' %} text-sky-500 {% else %} {% endif %}"
      >
        <i class="text-lg bi-clock"></i>
        <span class="md:inline-block"> Transactions </span>
      </li>
    </a>

    <a
      href="/apps/dashboard?tab=settings"
      class="hover:bg-gray-200 block rounded-lg py-1 px-2"
    >
      <li
        class="space-x-2 block {% if tab == 'settings' %} text-sky-500 {% else %} {% endif %}"
      >
        <i class="text-lg bi-gear"></i>
        <span class="md:inline-block"> Settings </span>
      </li>
    </a>

    {% if user.is_superuser %}

    <a
      href="/admin/overview"
      class="hover:bg-gray-200 block rounded-lg py-1 px-2"
    >
      <li class="space-x-2 block text-red-500">
        <i class="text-lg bi-person-gear"></i>
        <span class="md:inline-block"> Admin </span>
      </li>
    </a>
    {% endif %}
  </ul>
</nav>

<nav
  x-transition
  class="min-h-screen z-20 hidden md:block lg:w-[15%] md:w-[25%] bg-white md:bg-sky-50/60 pt-32 md:pt-6 px-6 pb-6 border-r-2 border-sky-200 fixed top-0 left-0 bottom-0"
>
  <div
    class="space-y-3 absolute bottom-10 left-0 right-0 text-sm text-center text-gray-700"
  >
    <!-- <a href="" class="block hover:bg-gray-200 cursor-pointer py-1">
      <li class="space-x-2 block">
        <i class="bi-exclamation-circle text-xl"></i>
        <span> Get Help </span>
      </li>
    </a>

    <li
      x-data
      @click="$store.darkMode.toggle()"
      class="space-x-2 block hover:bg-gray-200 cursor-pointer py-1"
      x-transition
    >
      <i x-show="!$store.darkMode.on" class="bi-toggle-off text-xl"></i>
      <i x-show="$store.darkMode.on" class="bi-toggle-on text-xl"></i>

      <span> Dark mode </span>
    </li> -->
    <a
      href="/sign-out"
      class="block text-red-400 hover:bg-gray-200 cursor-pointer py-1"
    >
      <li class="space-x-2 block">
        <i class="bi-box-arrow-left text-xl"></i>
        <span> Sign out </span>
      </li>
    </a>
  </div>

  <div
    class="w-full hidden md:block flex flex-col itens-center justify-center mt-4 mb-16"
  >
    <img
      alt="logo"
      src="/static/logo.png"
      class="w-16 md:w-32 h-auto shadow mx-auto"
    />
  </div>

  <ul
    class="space-y-6 flex flex-col items-start lg:pl-4 justify-center text-black/70 text-sm font-bold"
  >
    <a
      href="/apps/dashboard?tab=dash"
      class="hover:bg-gray-200 block rounded-lg py-1 px-2"
    >
      <li
        class="space-x-2 block {% if tab == 'dash' %} text-sky-500 {% else %} {% endif %}"
      >
        <i class="text-lg bi-house"></i>
        <span class="md:inline-block"> Home </span>
      </li>
    </a>

    <a
      href="/apps/dashboard?tab=account"
      class="hover:bg-gray-200 block rounded-lg py-1 px-2"
    >
      <li
        class="space-x-2 block {% if tab == 'account' %} text-sky-500 {% else %} {% endif %}"
      >
        <i class="text-lg bi-person"></i>
        <span class="md:inline-block"> Account </span>
      </li>
    </a>

    <a
      href="/apps/dashboard?tab=transfers"
      class="hover:bg-gray-200 block rounded-lg py-1 px-2"
    >
      <li
        class="space-x-2 block {% if tab == 'transfers' %} text-sky-500 {% else %} {% endif %}"
      >
        <i class="text-lg bi-arrow-left-right"></i>
        <span class="md:inline-block"> Transfer </span>
      </li>
    </a>

    <a
      href="/apps/dashboard?tab=transactions"
      class="hover:bg-gray-200 block rounded-lg py-1 px-2"
    >
      <li
        class="space-x-2 block {% if tab == 'transactions' %} text-sky-500 {% else %} {% endif %}"
      >
        <i class="text-lg bi-clock"></i>
        <span class="md:inline-block"> Transactions </span>
      </li>
    </a>

    <a
      href="/apps/dashboard?tab=settings"
      class="hover:bg-gray-200 block rounded-lg py-1 px-2"
    >
      <li
        class="space-x-2 block {% if tab == 'settings' %} text-sky-500 {% else %} {% endif %}"
      >
        <i class="text-lg bi-gear"></i>
        <span class="md:inline-block"> Settings </span>
      </li>
    </a>

    {% if user.is_superuser %}

    <a
      href="/admin/overview"
      class="hover:bg-gray-200 block rounded-lg py-1 px-2"
    >
      <li class="space-x-2 block text-red-500">
        <i class="text-lg bi-person-badge"></i>
        <span class="md:inline-block"> Admin </span>
      </li>
    </a>
    {% endif %}
  </ul>
</nav>

<nav
  class="fixed md:hidden z-40 top-0 inset-x-0 w-full p-2 bg-sky-300 flex flex-row items-center justify-between"
>
  <div
    class="border border-white hover:bg-white/70 hover:text-sky-500 rounded text-white px-2"
  >
    <i
      x-show="!showSidebar"
      @click="toggleSidebar"
      class="bi bi-list text-2xl"
    ></i>
    <i x-show="showSidebar" @click="toggleSidebar" class="bi bi-x text-2xl"></i>
  </div>

  <div class="flex flex-row items-center justfy-center space-x-1">
    <img alt="logo" src="/static/logo.png" class="h-8 shadow mx-auto" />
    <!-- <h2 class="font-bold text-white text-left text-base px-2">
      Walton Express
    </h2> -->
  </div>
</nav>
