<div
  id="tx-container"
  x-data="

{

   generatePDF(_id) {

      var element = document.getElementById(_id);


      var opt = {
        margin:       1,
        filename:     `waltonexpress_receipt_${_id}.pdf`,
        image:        { type: 'png', quality: 1.0 },
        html2canvas:  { scale: 2 },
        jsPDF:        { unit: 'in', format: 'letter', orientation: 'portrait' }
      };
      
      html2pdf(element, opt);

   }
}


"
  class="w-full"
>
  <!-- User Transactions History table: name, date, amount, sent or income -->

  <div class="flex flex-col py-8 w-full">
    <h1 class="text-3xl font-bold text-sky-500 px-4 pb-8">
      Transaction History
    </h1>

    <!-- if txs is empty  -->
    {% if not txs %}
    <div
      class="flex flex-col items-center justify-center bg-gray-100 px-6 min-h-[300px] py-10 w-[95%] rounded-lg mx-auto"
    >
      <i class="bi-exclamation-circle text-4xl xl:text-6xl text-gray-500"> </i>
      <p class="text-lg text-center text-gray-500 py-6">No transactions yet</p>
    </div>
    {% else %}

    <div
      class="my-2 px-2 lg:px-4 overflow-x-auto sm:-mx-6 lg:-mx-8 w-[99%] mx-auto"
    >
      <div class="py-2 align-middle inline-block max-w-full sm:px-6 lg:px-8">
        <div
          class="shadow overflow-auto max-w-[99%] border-b border-gray-200 sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Name of Sender/Recipient
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Date
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Amount
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Income/Sent
                </th>

                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Type
                </th>

                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  status
                </th>

                <th
                  scope="col"
                  class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
                >
                  Actions
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              {% for tx in txs %}

              <!-- ---- tx receipt pdf ----  -->

              {% if tx.status == 'SUCCESS' %}

              <div
                class="min-h-screen hidden top-0 z-20 left-0 right-0 bottom-0 bg-black bg-opacity-50 flex flex-col justify-center items-center"
              >
                <div
                  id="{{tx.tx_id}}"
                  class="w-[95%] mx-auto max-w-md md:w-[80%] lg:w-[70%] xl:w-[60%] bg-white rounded-lg shadow-lg p-8"
                >
                  <img
                    src="/static/logo.png"
                    class="w-16 md:w-32 h-auto mx-auto"
                  />

                  <h1 class="text-lg font-semibold text-center pb-4">
                    Transaction Receipt
                  </h1>

                  <div
                    class="flex flex-col justify-start items-start space-y-2 text-base font-medium"
                  >
                    <p>Reference: {{tx.tx_id}}</p>

                    <p>Date: {{ mdt (tx.created ) }}</p>

                    <p>Amount: &dollar;{{tx.amount}}</p>

                    <p>Sender: {{tx.sender}}</p>

                    <p>
                      Recipient: {{tx.receiver_account_name}} {{tx.receiver}}
                    </p>

                    <p>Status: {{tx.status}}</p>

                    <p>Type: {{tx.txtype}}</p>

                    <p>Scope: {{tx.scope}}</p>

                    <p>Description: {{tx.description}}</p>
                  </div>

                  <div class="text-xs mt-8 space-y-1">
                    <p>
                      This is an electronic receipt and does not require a
                      signature.
                    </p>

                    <p>
                      Generated on <span id="ge-date"> {{dt}} </span> by
                      {{tx.sender}}.
                    </p>
                  </div>
                </div>
              </div>

              {% endif %}

              <tr>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img
                        class="h-10 w-10 rounded-full"
                        src="https://placehold.it/100x100"
                        alt=""
                      />
                    </div>
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">
                        {% if tx.sender == user.email %} You {% elif
                        tx.receiver_account_name %} {{tx.receiver_account_name}}
                        {% else %} {{tx.sender}} {% endif %}
                      </div>
                      <div class="text-sm text-gray-500">
                        {% if tx.sender == user.email %} {{user.email}} {% elif
                        tx.receiver_account_name %} {{tx.receiver_account_name}}
                        {% else %} {{tx.sender}} {% endif %}
                      </div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div
                    x-text="new Date({{tx.created * 1000 }}).toLocaleString()"
                    class="text-sm text-gray-900"
                  >
                    {{tx.created}}
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">
                    $
                    <span
                      x-text="new Intl.NumberFormat().format({{tx.amount}})"
                    >
                      {{tx.amount}}
                    </span>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  {% if tx.sender == user.email and tx.txtype == 'DEBIT' %}
                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800"
                  >
                    Sent
                  </span>

                  {% else %}

                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
                  >
                    Income
                  </span>
                  {% endif %}
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  {% if tx.scope == "IN" %}
                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-sky-100 text-sky-800"
                  >
                    Internal
                  </span>

                  {% else %}
                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800"
                  >
                    External
                  </span>
                  {% endif %}
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  {% if tx.status == "PENDING" %}
                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-yellow-100 text-yellow-800"
                  >
                    Pending
                  </span>

                  {% elif tx.status == "SUCCESS" %}
                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800"
                  >
                    Success
                  </span>
                  {% elif tx.status =="FAILED" %}
                  <span
                    class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800"
                  >
                    Failed
                  </span>
                  {% endif %}
                </td>

                <td class="px-6 py-4 whitespace-nowrap">
                  <div
                    @click="generatePDF('{{tx.tx_id}}')"
                    class="text-sm text-gray-900 space-x-1 cursor-pointer text-green-500 hover:text-green-600 {% if not tx.status == 'SUCCESS' %} pointer-events-none opacity-40 {% endif %}"
                  >
                    <span class="bi bi-download"></span>
                    <span class="text-xs capitalize font-medium">
                      Receipt
                    </span>
                  </div>
                </td>
              </tr>

              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>
