<div class="w-full xl:w-[80%] lg:w-[70%]">
  <!-- Edit Profile Form  -->

  <div
    class="flex flex-col xl:flex-row justify-center items-start xl:justify-around space-y-8 xl:space-y-0 mt-8"
    x-data="{
      eTx :  false,

      toggleETx : function () {
        this.eTx = !this.eTx;
      },
            reqError : false,
            reqErrorMsg : 'Error',
            reqSuccess : false,
            reqSuccessMsg : 'Success',                  
            reqLoading : false,
            reqLoadingText : 'Loading',
            actionText : 'Loading',

            submitting : false,
            showOverlay :  false,
            actionText : 'Processing...',
            success :  false,
            passwordsMatch :  true,

            
        

    }"
  >
    {% include "partials/__widgets__.html" %}

    <div class="w-full mx-auto">
      <h1 class="text-3xl font-bold text-sky-500 px-4">Transfer Money</h1>

      <p @click="toggleETx" class="py-2 px-4 mb-6">
        <span
          class="px-2 select-none cursor-pointer inline-flex text-xs leading-5 font-semibold rounded-full bg-sky-200 text-sky-800"
        >
          <span x-show="!eTx" class="inline-flex px-2"
            >Send to an external bank account</span
          >
          <span x-show="eTx" class="inline-flex px-2"
            >Send to an internal bank account</span
          >

          <i class="bi-box-arrow-up-right"></i>
        </span>
      </p>

      <form
        x-data="{

            submitForm1 : async (e)=>{



                   let formData = new FormData(e.target);
                        
                        let object = {};
                        
                        for (let [key, value] of formData.entries()) {
                        if (!object.hasOwnProperty(key)) {
                        object[key] = value;
                        } else if (Array.isArray(object[key])) {
                        object[key].push(value);
                        } else {
                        object[key] = [object[key], value];
                        }
                        }


                        actionText = 'Processing...';
                        submitting = true;


                        reqLoading = true;
                        showOverlay = true;


                         try{
                        
                        
                        const res = await fetch('/tx/in', {
                        method: 'POST',
                        headers: {
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(object)
                        });
                        
                        if(!res.ok){
                        
                        if(res.status == 422){
                        console.log('Form errors found');
                        
                        const errors = await res.json();
                        console.log(errors);
                        
                        
                        reqError = true;
                        reqErrorMsg = JSON.stringify(errors);
                        
                        
                        }
                        else{
                        
                        const errorMsg = (await res.json()).detail;
                            console.log(errorMsg);
                                    
                                    reqError = true;
                                    reqErrorMsg  = errorMsg;
                        }
                        
                        
                        } else{
                        
                        
                        
                        console.log('Form submitted successfully');
                        reqError = true;
                        reqErrorMsg = 'Transfer Sent successfully.';
                        success = true;

                         setTimeout(()=>{

                          window.location.href = '/apps/dashboard?tab=dash';

                        }, 1000);

                        }
                                                
                        }
                        
                        catch(err){
                        
                        console.log(err.message);
                        reqError = true;
                        reqErrorMsg = 'Unable to complete request [' + err.message + ']';
              

                        }

                        submitting = false;

                        reqLoading = false;
                        showOverlay = false;


            },
      }"
        x-on:submit.prevent="submitForm1($event)"
        x-show="!eTx"
        class="max-w-md w-[90%] mx-auto"
      >
        <div>
          <label
            for="amount"
            class="block text-sm text-gray-600 dark:text-gray-400"
          >
            Amount
          </label>
          <div class="mt-1">
            <input
              id="amount"
              name="amount"
              type="text"
              required
              class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
              placeholder="100.00"
            />
          </div>
        </div>
        <div class="mt-4">
          <label
            for="receiver"
            class="block text-sm text-gray-600 dark:text-gray-400"
          >
            Beneficiary Email Address
          </label>
          <div class="mt-1">
            <input
              id="account"
              name="receiver"
              required
              type="text"
              class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
              placeholder="jane.smith@example.com"
            />
          </div>
        </div>

        <div class="mt-4">
          <label
            for="description"
            class="block text-sm text-gray-600 dark:text-gray-400"
          >
            Description
          </label>
          <div class="mt-1">
            <textarea
              id="description"
              name="description"
              rows="3"
              class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
              placeholder="Enter any additional details here."
            ></textarea>
          </div>
        </div>
        <!-- Submit button  -->
        <div class="flex justify-center items-center mt-8">
          <button
            type="submit"
            class="bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded-lg"
          >
            Send Money
          </button>
        </div>
      </form>

      <!-- External Bank Transfer  -->

      <form
        x-data="{


            submitForm2 : async (e)=>{



                   let formData = new FormData(e.target);
                        
                        let object = {};
                        
                        for (let [key, value] of formData.entries()) {
                        if (!object.hasOwnProperty(key)) {
                        object[key] = value;
                        } else if (Array.isArray(object[key])) {
                        object[key].push(value);
                        } else {
                        object[key] = [object[key], value];
                        }
                        }


                        actionText = 'Processing...';
                        submitting = true;


                        reqLoading = true;
                        showOverlay = true;


                         try{
                        
                        
                        const res = await fetch('/tx/out', {
                        method: 'POST',
                        headers: {
                        'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(object)
                        });
                        
                        if(!res.ok){
                        
                        if(res.status == 422){
                        console.log('Form errors found');
                        
                        const errors = await res.json();
                        console.log(errors);
                        
                        
                        reqError = true;
                        reqErrorMsg = JSON.stringify(errors);
                        
                        
                        }
                        else{
                        
                        const errorMsg = (await res.json()).detail;
                            console.log(errorMsg);
                                    
                                    reqError = true;
                                    reqErrorMsg  = errorMsg;
                        }
                        
                        
                        } else{
                        
                        
                        
                        console.log('Form submitted successfully');
                        reqError = true;
                        reqErrorMsg = 'Transfer Sent successfully.';
                        success = true;

                         setTimeout(()=>{

                          window.location.href = '/apps/dashboard?tab=dash';

                        }, 1000);


                        

                      
                        
                        }
                        
                        
                        }
                        
                        catch(err){
                        
                        console.log(err.message);
                        reqError = true;
                        reqErrorMsg = 'Unable to complete request [' + err.message + ']';
                        
                        }

                        submitting = false;

                        reqLoading = false;
                        showOverlay = false;





            },

      }"
        x-on:submit.prevent="submitForm2($event)"
        x-show="eTx"
        class="max-w-md w-[90%] mx-auto"
      >
        <div>
          <label
            for="amount"
            class="block text-sm text-gray-600 dark:text-gray-400"
          >
            Amount
          </label>
          <div class="mt-1">
            <input
              id="amount"
              name="amount"
              required
              type="text"
              class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
              placeholder="100.00"
            />
          </div>
        </div>

        <div class="mt-4">
          <label
            for="receiver_bank_name"
            class="block text-sm text-gray-600 dark:text-gray-400"
          >
            Recipient Bank
          </label>
          <div class="mt-1">
            <input
              id="bankname"
              name="receiver_bank_name"
              required
              type="text"
              class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
              placeholder="ABC Bank"
            />
          </div>
        </div>

        <div class="mt-4">
          <label
            for="receiver_account_number"
            class="block text-sm text-gray-600 dark:text-gray-400"
          >
            Account Number
          </label>
          <div class="mt-1">
            <input
              id="accountnumber"
              required
              name="receiver_account_number"
              type="text"
              class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
              placeholder="123456789"
            />
          </div>
        </div>

        <div class="mt-4">
          <label
            for="receiver_account_name"
            class="block text-sm text-gray-600 dark:text-gray-400"
          >
            Account Name
          </label>
          <div class="mt-1">
            <input
              id="receiver_account_name"
              name="receiver_account_name"
              required
              type="text"
              class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
              placeholder="John Doe"
            />
          </div>
        </div>

        <div class="mt-4">
          <label
            for="description"
            class="block text-sm text-gray-600 dark:text-gray-400"
          >
            Description
          </label>
          <div class="mt-1">
            <textarea
              id="description"
              name="description"
              rows="3"
              class="block w-full px-4 py-3 rounded-md bg-gray-50 border-black/10 border outline-none focus:border-gray-500 focus:bg-white focus:ring-0"
              placeholder="Enter any additional details here."
            ></textarea>
          </div>
        </div>
        <!-- Submit button  -->
        <div class="flex justify-center items-center mt-8">
          <button
            type="submit"
            class="bg-sky-500 hover:bg-sky-700 text-white font-bold py-2 px-4 rounded-lg"
          >
            Send Money
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
