<!-- Profile Avatar  -->
<div class="w-full flex flex-col justify-center items-center">
  <img src="/static/avatar.webp" class="w-32 h-32 rounded-full" />

  <div class="space-y-3 mt-2 flex flex-col">
    <p class="text-gray-600 font-semibold text-center text-xl">
      {{user.firstname }} {{ user.lastname}}
    </p>

    <p
      style="font-family: Orbitron"
      class="text-sky-500 font-semibold text-center text-sm"
    >
      {{user.level.value}} USER
    </p>
  </div>

  <div class="mt-4 text-center px-2 text-sm flex mx-auto flex-col space-y-4">
    <p class="px-2 py-1 bg-sky-600 rounded-2xl text-white">Email Address</p>
    <p class="text-gray-700">{{user.email}}</p>
    <p class="px-2 py-1 bg-sky-600 rounded-2xl text-white">Date of Birth</p>
    <p class="text-gray-700">{{user.date_of_birth }}</p>

    <p class="px-2 py-1 bg-sky-600 rounded-2xl text-white">Phone Number</p>

    <p class="text-gray-700">{{user.phone}}</p>
  </div>

  <div class="mt-4">
    <!-- EXCHANGERATES.ORG.UK CHART WIDGET START -->
    <div
      style="
        width: 178px;
        margin: 0;
        padding: 0;
        border: 1px solid #2d6ab4;
        background: #e6f2fa;
      "
    >
      <div
        style="
          width: 174px;
          text-align: center;
          margin: 2px;
          padding: 2px 0px;
          background: #2d6ab4;
          font-family: Poppins;
          font-size: 11px;
          color: #ffffff;
          font-weight: bold;
          vertical-align: middle;
        "
      >
        <a
          rel="nofollow"
          style="
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
          "
          href="https://www.exchangerates.org.uk/Pounds-to-Euros-currency-conversion-page.html"
          target="_new"
          title="GBP EUR"
          >GBP EUR</a
        >
        CHARTS
      </div>
      <div style="padding: 2px">
        <script type="text/javascript">
          var dcf = "GBP";
          var dct = "EUR";
          var mcol = "2D6AB4";
          var mbg = "e6f2fa";
          var tc = "ffffff";
          var tz = "userset";
        </script>
        <script
          type="text/javascript"
          src="https://www.currency.me.uk/remote/ER-CHART-1.php"
        ></script>
      </div>
    </div>
    <!-- EXCHANGERATES.ORG.UK CHART WIDGET END -->
  </div>
</div>
