<!-- Profile Avatar  -->
<div class="w-full flex flex-col justify-center items-center">
  <img
    src="/static/avatar.webp"
    class="w-36 h-36 rounded-full border-gray-200"
  />

  <div class="space-y-3 mt-6 flex flex-col">
    <p class="text-gray-600 font-bold text-center text-xl">
      {{user.firstname }} {{ user.lastname}}
    </p>

    <p
      style="font-family: Orbitron"
      class="text-sky-500 font-bold text-center text-sm"
    >
      {{user.level.value}} USER
    </p>
  </div>

  <div class="mt-8 text-center px-2 text-sm flex mx-auto flex-col space-y-6">
    <p class="px-2 py-1 bg-gray-200 rounded-2xl text-gray-500">Email Address</p>
    <p class="text-gray-700">{{user.email}}</p>
    <p class="px-2 py-1 bg-gray-200 rounded-2xl text-gray-500">Date of Birth</p>
    <p class="text-gray-700">{{user.date_of_birth }}</p>

    <p class="px-2 py-1 bg-gray-200 rounded-2xl text-gray-500">Phone Number</p>

    <p class="text-gray-700">{{user.phone}}</p>
  </div>
</div>
