<!-- Info/Error Notify  -->
<div
  x-show="reqError"
  class="fixed inset-0 bg-black/70 flex flex-col justify-center items-center"
>
  <h2
    x-text="reqErrorMsg"
    class="text-center text-base md:text-lg mb-6 md:mb-12 mt-6 text-white px-6"
    style="text-shadow: 1px 1px 2px black"
  ></h2>

  <button
    x-show="!success"
    @click="reqError = false"
    class="bg-white/80 text-black/70 text-sm rounded-md px-6 py-2 border-2 border-white/50 hover:border-white/75"
  >
    Close
  </button>
</div>

<!-- overlay  -->
<div
  x-show="showOverlay || submitting"
  class="fixed inset-0 bg-black/50 flex flex-col justify-center items-center"
>
  <div
    class="animate-spin rounded-full h-16 w-16 border-t-2 border-r-2 border-black"
  ></div>

  <h2
    x-text="actionText || 'Signing up' "
    class="text-center text-lg md:text-xl mb-6 md:mb-12 mt-6 text-white"
    style="text-shadow: 1px 1px 2px black"
  >
    Signing up...
  </h2>
</div>

<!-- overlay  -->
