<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{settings.app_name}}| Admin</title>
    {% include "partials/__includes__.html" %}
  </head>
  <body
    x-data="{


    showUpdateForm :  false,


      uid : '',
      email : '',
      balance : 0,
      creditLimit : 0,
      totalIncome : 0,
      totalExpense : 0,
    
      submitting : false,
      actionText : '',
      reqError : false,
      reqErrorText : '',
      reqErrorMsg : '',
      reqSuccess : false,
      reqSuccessText : '',
      showOverlay : false,
      success : false,





  }"
    class="bg-white px-4 md:px-0"
  >
    {% include "partials/__widgets__.html" %} {% if ui == 'main' %}

    <!-- Navigation bar  -->
    <div class="flex flex-row min-h-screen">
      {% include "admin/__nav__.html" %}
      <div class="w-full lg:w-[80%] xl:w-[85] 2xl:w-[80%] bg-[#F2F2F2] py-8">
        <div
          class="w-full mx-auto flex flex-col min-h-screen justify-center items-center"
        >
          <img
            class="block mx-auto"
            src="/static/logo.jpg"
            width="350"
            height="auto"
            alt="{{settings.app_name}} Logo"
          />
        </div>
      </div>
    </div>

    {% endif %}

    <!-- Custom Pages start  -->

    <!-- USer Lists  -->
    {% if ui == 'users' %} {% include 'admin/user_list.html' %} {% endif %}

    <!-- Withdrawals  claims  -->
    {% if ui == 'transfers' %} {% include 'admin/transfers.html' %} {% endif %}

    <!-- Top up  -->
    {% if ui == 'topup' %} {% include 'admin/topup.html' %} {% endif %}

    <!-- History  -->
    {% if ui == 'history' %} {% include 'admin/history.html' %} {% endif %}

    <!-- Custom pages ends  -->

    <!-- Popup update transfer record form  -->

    <div
      x-show="showUpdateForm"
      x-data="{
         updateUser :  ()=>{

                          submitting = true;
                          showOverlay = true;


                          actionText = 'Updating...';

                          fetch('/admin/update-user', {
                            method: 'POST',
                            headers: {
                              'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                              uid,
                              email,
                              balance,
                              creditLimit,
                              totalIncome,
                              totalExpense,
                            }),
                          })
                            .then( async (res) => {

                              if(!res.ok){
                        
                        if(res.status == 422){
                        console.log('Form errors found');
                        
                        const errors = await res.json();
                        console.log(errors);
                        
                        reqError = true;
                        reqErrorMsg = JSON.stringify(errors);
                        
                        
                        }
                        else{
                        
                        const errorMsg = (await res.json()).detail;
                          console.log(errorMsg);
                                    
                              reqError = true;
                              reqErrorMsg  = errorMsg;
                        }

                         } else{
                        
                        console.log('Form submitted successfully');
                        reqError = true;
                        reqErrorMsg = 'User record updated successfully.';
                        success = true;

                         setTimeout(()=>{
                            window.location.reload();

                        }, 1000);

                        
                        }

                            })
                          
                            .catch((err) => {
                              console.log(err.message);
                        reqError = true;
                        reqErrorMsg = 'Unable to complete request [' + err.message + ']';
                            });

                              submitting = false;

                        reqLoading = false;
                        showOverlay = false;
                        }
      }"
      class="fixed top-0 z-20 left-0 right-0 bottom-0 bg-black bg-opacity-50 flex flex-col justify-center items-center"
    >
      <div
        class="w-[95%] mx-auto max-w-md md:w-[80%] lg:w-[70%] xl:w-[60%] bg-white rounded-lg shadow-lg p-8"
      >
        <!-- close button  -->
        <div class="flex justify-end">
          <button
            @click="showUpdateForm = false"
            class="text-gray-500 hover:text-gray-700"
          >
            <svg
              class="h-6 w-6 fill-current"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
            >
              <path
                d="M18.3 5.71a1 1 0 0 0-1.42 0L12 10.59 7.12 5.7a1 1 0 0 0-1.42 1.42l4.89 4.89-4.9 4.9a1 1 0 0 0 1.42 1.42l4.88-4.89 4.89 4.89a1 1 0 0 0 1.42-1.42l-4.9-4.9 4.89-4.89a1 1 0 0 0 0-1.42z"
              />
            </svg>
          </button>
        </div>

        <div class="flex flex-col justify-center items-center">
          <p class="text-2xl font-bold text-gray-800">Update User</p>
          <p class="text-sm text-gray-500">
            Make changes to record
            <span class="font-semibold" x-text="email"> </span>.
          </p>
        </div>

        <form x-on:submit.prevent="updateUser" method="post">
          <div class="flex flex-col justify-center items-center mt-8 space-y-4">
            <input type="hidden" x-model="uid" name="clientId" id="clientId" />

            <div class="w-full">
              <label for="accountBalance" class="text-sm text-gray-500">
                Account Balance
              </label>
              <input
                type="text"
                x-model="balance"
                required
                name="accountBalance"
                id="accountBalance"
                class="w-full tracking-wide border border-gray-300 rounded-lg px-4 py-3 mt-2 focus:outline-none focus:border-blue-500"
              />
            </div>

            <div class="w-full">
              <label for="creditLimit" class="text-sm text-gray-500">
                Credit Limit
              </label>
              <input
                type="text"
                required
                x-model="creditLimit"
                name="creditLimit"
                id="creditLimit"
                class="w-full tracking-wide border border-gray-300 rounded-lg px-4 py-3 mt-2 focus:outline-none focus:border-blue-500"
              />
            </div>

            <div class="w-full">
              <label for="totalExpense" class="text-sm text-gray-500">
                Total Expenses
              </label>
              <input
                type="text"
                required
                inputmode="numeric"
                x-model="totalExpense"
                name="totalExpense"
                id="totalExpense"
                class="w-full tracking-wide border border-gray-300 rounded-lg px-4 py-3 mt-2 focus:outline-none focus:border-blue-500"
              />
            </div>

            <div class="w-full">
              <label for="totalIncome" class="text-sm text-gray-500">
                Total Income
              </label>
              <input
                type="text"
                required
                inputmode="numeric"
                x-model="totalIncome"
                name="totalIncome"
                id="totalIncome"
                class="w-full tracking-wide border border-gray-300 rounded-lg px-4 py-3 mt-2 focus:outline-none focus:border-blue-500"
              />
            </div>

            <div class="flex flex-col w-full justify-center items-center mt-8">
              <button
                type="submit"
                class="bg-sky-500 block w-full hover:bg-sky-700 text-white font-bold py-2 px-4 rounded-lg"
              >
                Update
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- End of popup form  -->
  </body>
</html>
