<!DOCTYPE html>
<html :class="$store.darkMode.on ? 'dark' : '' " lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include "partials/__includes__.html" %}

    <title>{{ settings.app_name }}</title>
  </head>
  <body>
    <div
      class="min-h-screen w-full"
      x-data="{



        showSidebar :  false,
        toggleSidebar : function () {
            this.showSidebar = !this.showSidebar;
        },



    }"
    >
      {% include "partials/__sidebar__.html" %}

      <div
        class="mt-12 md:mt-0 w-full bg-sky-100 md:bg-white md:w-[74%] lg:w-[84%] lg:ml-[15%] min-h-screen md:ml-[25%]"
      >
        <!-- Section Box starts  -->

        <div class="w-full flex flex-row justify-between items-start">
          <!-- Box 1  -->

          <!-- Flex Box of dashbaord info ends  -->

          {% if tab == "dash" %} {% include "partials/__dashboard__.html" %} {%
          endif %} {% if tab == "profile" %} {% include
          "partials/__profile__.html" %} {% endif %} {% if tab == "settings" %}
          {% include "partials/__settings__.html" %} {% endif %} {% include
          "partials/__userinfo__.html" %}
        </div>

        <!-- Box 2  -->

        <!-- Section box ends  -->
        <footer
          class="mt-8 w-full border-t text-center py-8 text-gray-600 text-ms"
        >
          <p>{{settings.app_name}}</p>
          <p>&copy; 2023. All rights reserved</p>
        </footer>
      </div>
    </div>
  </body>
</html>
