<!DOCTYPE html>
<html " lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% include "partials/__includes__.html" %}

    <title>{{ settings.app_name }}</title>
  </head>
  <body   :class="$store.darkMode.on ? 'dark' : ''">
    <div
      class="min-h-screen w-full"
      x-data="{



        showSidebar :  false,
        toggleSidebar : function () {
            this.showSidebar = !this.showSidebar;
        },



    }"
    >
      {% include "partials/__sidebar__.html" %}

      <div
        class="mt-12 md:mt-0 w-full bg-sky-100 md:bg-white md:w-[74%] lg:w-[84%] lg:ml-[15%] min-h-screen md:ml-[25%]"
      >
        <!-- Section Box starts  -->

        <div class="w-full flex flex-row justify-between items-start pb-32">
          <!-- Box 1  -->

          <!-- Flex Box of dashbaord info ends  -->

             {% if tab == "account" %} {% include "partials/__account__.html" %} {%
          endif %}

          {% if tab == "dash" %} {% include "partials/__dashboard__.html" %} {%
          endif %} {% if tab == "profile" %} {% include
          "partials/__profile__.html" %} {% endif %} {% if tab == "settings" %}
          {% include "partials/__settings__.html" %} {% endif %} {% if tab ==
          "transactions" %} {% include "partials/__transactions__.html" %} {%
          endif %}
          
          
          
          
          {% if tab ==
          "transfers" %} {% include "partials/__transfers__.html" %} {%
          endif %}
          
          
          
          
          {% include "partials/__rightblock__.html" %}

        </div>

        <!-- Box 2  -->

        <!-- Section box ends  -->
        <footer style="font-family: Orbitron; "
          class=" w-full  bg-sky-400/80 md:bg-sky-100 md:text-black/80  text-center py-1 text-white text-[8px]  inset-x-0 bottom-0 fixed"
        >
          <p>{{settings.app_name}}</p>
          <p>&copy; 2023. All rights reserved</p>
        </footer>
      </div>
    </div>
  </body>
</html>
